.config-container {
  display: flex;
  justify-content: space-evenly;
  margin: 5rem;
}

.nav {
  justify-content: center;
}    

header {
  padding: 1rem 0px;
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.card {
  margin: 3rem;
}

.flex {
  display: flex;
}