body {
    font-size: 14px;
    box-sizing: content-box;
}

.container {
    margin-top: 25px;
}

.color-div {
    height: 80px;
    color: white;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-div:hover {
    font-weight: bold;
}

.first {
    background-color: red;
}
.second {
    background-color: blue;
}
.third {
    background-color: green;
}

#color-input {    
    width: 100px;
    height: 50px;
    margin-right: 10px;
}

#toolbar-btns {
    align-items: center;
    margin-top: 5rem;
}

.color-change-container {
    display: flex;
}

.footer {
    text-align: center;
    padding: 40px;
}